body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #FF8000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: larger;
}

h3{
    color: #FF8000;
}

.logo {
    height: 48px;

}

.logoAndName {
    display: flex;
    align-items: center;
}

.menu {
    height: 32px;
}

main {
    display: flex;
    justify-content: space-between;
}

.restaurantIMG {
    width: 80vw;
    height: 240px;
    object-fit: cover;
}

.rating {
    display: flex;
    align-items: center;
    color: #FF8000;
}

.categoryLine{
    display: flex;
    align-items: center;
    background-color: #F8F5F3;
}

a{
    color: black;
    text-decoration: none;
    padding: 24px;
}

.mealCard{
    border-style: solid;
    border-width: 1px;
    border-color: #E9E8E9;
    border-radius: 8px;
    margin: 8px 0;
    padding: 16px;

    display: flex;
    justify-content: space-between;
}

.mealCard button{
    border: none;
    background-color: white;
    height: 32px;
}




.smallIcon img {
    width: 32px;
}

.middleIcon img{
    width: 64px;
}




.paddingright16 {
    padding-right: 16px;
}

.paddingleft16{
    padding-left: 16px;
}

.shoppingBasket{
    display: flex;
    flex-direction: column;
    width: 480px;
}

.pices {
    display: flex;
    align-items: center;
}
.pices img{
    width: 16px;
}

.pices button{
    border: none;
    background-color: white;
    height: 32px;
}

.itemsinShoppingBasket{
    display: flex;
    align-items: flex-start;
}

.oneItemInShoppingBasket{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #E9E8E9;
    border-radius: 8px;
    margin: 8px 0;
    padding: 16px;

}

.shoppinBasketEmpty{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    text-align: center;
}

.line{
    background-color: #E9E8E9;
    height: 2px;

}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #F8F5F3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    font-size: larger;
}
